.help {
  display: grid;
  grid-template-columns: 13% 87%; /* 13% for Sidepane, 87% for Menubar and page-content */
  grid-template-rows: 82px calc(100vh - 82px); /* 82px for Menubar, remaining for page-content */
}

.page-content {
  grid-column: 2; /* Span across the second column */
  grid-row: 2; /* Span across the second row */
  background: #1b1b1b;
  position: static;
}

.FAQS {
  width: 98%;
  height: 70%;
  margin-left: auto;
  margin-top: 15px;
  margin-right: auto;
}

.FAQS-Heading {
  font-family: Poppins;
  font-size: 18px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.FAQS-text {
  font-family: Poppins;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0;
  margin-bottom: 0;
}

.FAQS-search {
  width: 50%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: rgba(41, 42, 44, 0.7);
  border-radius: 25px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.FAQSsearchInput {
  width: 100%;
  height: 100%;
  background: rgba(41, 42, 44, 0.7);
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 13px;
}

.response-box {
  height: 55%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.actual-response {
  width: 100%;
  background: rgba(41, 42, 44, 0.7);
  border-radius: 10px;
  height: 90%;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-family: Poppins;
}

.Counseling {
  flex-direction: column;
  display: flex;
  margin-top: 90px;
}

.counselling1 {
  flex-direction: row;
  display: flex;
  width: 80%;
  margin-right: 0;
  margin-left: auto;
  justify-content: space-between;
}

.Counseling-text {
  font-family: Poppins;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: 100;
}

.schedule {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: #ad8547;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  margin-right: 20px;
}

.schedule svg {
  height: 35px;
  width: 35px;
}

.dialog-overlay {
  position: fixed; /* Overlay takes up the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Center the dialog box horizontally */
  align-items: center; /* Center the dialog box vertically */
  z-index: 1000; /* Ensure the overlay is above other content */
}
