/* ErrorOverlay.css */

.success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the overlay is on top of other content */
}

.blur-background {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Add a blur effect */
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white color */
  z-index: -1; /* Behind the error dialog */
}

.success-dialog {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000;
  /* Add any other styles needed for your error dialog */
}
