/* SplashScreen.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0D0D0D; /* Customize background color */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: splashAnimation 18.5s forwards; /* Control the animation duration */
}

.splash-screen.hide {
  opacity: 0;
  z-index: -1; /* Hide the splash screen when loading is complete */
}

.Logo-container {
  width: 30rem;
  height: 24rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align content horizontally */
  justify-content: center; /* Align content vertically */
  margin: auto; /* Center horizontally */
  opacity: 0; /* Initially hide Logo-container */
  animation: logoAnimation 5s forwards; /* Logo animation duration */
}

.AppLogo {
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  opacity: 0; /* Initially hide AppLogo */
  animation: appLogoAnimation 3s 0.25s forwards, spinAnimation 0.5s linear infinite;/* AppLogo animation duration and delay */
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align content vertically */
  justify-content: center; /* Align content horizontally */
  opacity: 0; /* Initially hide text-container */
  animation: textAnimation 2s 4s forwards; /* Text animation duration and delay */
}

.firsttext {
  color: #AD8547;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 0.125rem; /* Adjust margin between texts */
}

.secondtext {
  color: #545456;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 0.125rem; /* Adjust margin between texts */
}

/* Keyframe animations */
@keyframes splashAnimation {
  to {
    opacity: 1;
  }
}

@keyframes logoAnimation {
  to {
    opacity: 1;
  }
}

@keyframes appLogoAnimation {
  to {
    opacity: 1;
  }
}

@keyframes textAnimation {
  to {
    opacity: 1;
  }
}
