.interviews {
  display: grid;
  grid-template-columns: 13% 87%; /* 13% for Sidepane, 87% for Menubar and page-content */
  grid-template-rows: 82px calc(100vh - 82px); /* 82px for Menubar, remaining for page-content */
}

.page-content {
  grid-column: 2; /* Span across the second column */
  grid-row: 2; /* Span across the second row */
  background: #1b1b1b;
}
