.network {
  display: grid;
  grid-template-columns: 13% 87%; /* 13% for Sidepane, 87% for Menubar and page-content */
  grid-template-rows: 82px calc(100vh - 82px); /* 82px for Menubar, remaining for page-content */
}

.page-content {
  grid-column: 2; /* Span across the second column */
  grid-row: 2; /* Span across the second row */
  background: #1b1b1b;
}

.post-section {
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  display: flex;
  overflow: auto;
}

.make-post {
  width: 100%;
  height: 12%;
  margin-top: 20px;
  margin-bottom: 15px;
  background: #151617;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actual-posts {
  width: 100%;
  height: 84%;
}

.make-post-element {
  width: 95%;
  height: 80%;
  margin: auto;
  flex-direction: row;
  display: flex;
}

.make-post-element .profile-image {
  height: 50px;
  width: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.post-initiator {
  height: 60%;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  background: rgba(41, 42, 44, 0.7);
  border: none;
  outline: none;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}

.make-post-box {
  position: fixed; /* or absolute, depending on your layout needs */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Higher than dialog-overlay */
  /* Add more styling here to suit your design */
}

.dialog-overlay {
  position: fixed; /* Full coverage */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent backdrop */
  z-index: 1000; /* Higher than other content but lower than modal */
  display: flex; /* Flexbox to center children */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
