
.chatListitem {
    width: 95%;
    height: 8%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(41, 42, 44, 0.7);
    border-radius: 8px;
    
  }
  
  .name-lastmsg {
    display: flex;
    flex-direction: column;
  }
  
  .name-lastmsg h3 {
    font-family: Poppins;
    font-size: 15px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
  }
  
  .name-lastmsg p {
    font-family: Poppins;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
  }
  
  .chatListitem .profile-image {
    margin-right: 20px;
    height: 50px;
    width: 50px;
  }