/* ProfilePicture.css */

  .profile-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .profile-initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  #ad8547; /* Choose a background color that fits your design */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* Adjust as necessary */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .profile-container:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  