@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.sidepane {
  width: 13%; /* Adjust the width as needed */
  height: 100vh; /* Adjust the height as needed */
  flex-shrink: 0;
  background: #151617;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}


.display-logo {
  width: 65px;
  height: 65px;
  flex-shrink: 0;
  margin-top: 0.3rem;
}

.brown {
  color: #AD8547;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 50;
  line-height: 1.4375rem;
  margin: 0;
  margin-top: 15px;
}

.grey {
  color: #747474;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 50;
  line-height: 1.4375rem;
  margin: 0;
}

.logoname-texts {
  width: 100px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: auto;
}

.logo-display {
  width: 190px;
  height: 80px;
  flex-shrink: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  margin-top: 0;
  margin-bottom: -1rem; 
  top: 0;
}

.brownLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 1px;
  background: #AD8547;
  margin: auto;
  margin-top: 0.7rem;
  margin-bottom: 15px;
}

.sidepanel-navigations {
  width: 190px;
  margin-left: 1.5rem;
  height: 820px;
  flex-shrink: 0;
}


.sidepanel-buttons {
  height: 380px;
  width: 195px;
}


.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  margin-bottom: 35px;
  margin-left: 0;
}

.sidepanel-buttons3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidepanel-buttons2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95px;
  width: 158px;
  align-items: flex-start;
  margin-bottom: 160px;
}

.sidepanel-buttons3 {
  height: 95px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidepanel-buttons3 button{
  border: none;
  margin-top: 0.7rem;
}

.sidepanel-buttons2 button {
  border: none;
} 


/* Sidepane.css */
.sidepane a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent */
}

.sidepane a:hover {
  /* Optional: Add hover effect */
  text-decoration: none;
  color: inherit;
}
