.dialog-box {
  height: 500px;
  width: 600px;
  background: #1b1b1b;
  z-index: 1;
  border-radius: 10px;
}

.dialog-container {
  height: 455px;
  width: 531px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-left: 44px;
}

.dialog-headerforjob {
  height: 27px;
  width: 420px;
  flex-direction: row;
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  margin-left: 100px;
  justify-content: space-between;
}

.dialog-headerforjob p {
  font-family: poppins;
  font-size: 18px;
  color: #ad8547;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 70px;
}

.dialog-content {
  height: 332px;
  width: 512px;
  flex-direction: column;
  display: flex;
  margin-bottom: 23px;
  justify-content: space-between;
}

.dialog-content h3 {
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-weight: 100;
  font-size: 15px;
}

.jobslink {
  color: #ad8547;
  text-decoration: none;
}

.jobslinkss {
  color: white;
  text-decoration: none;
}
